export(gpuSim,
	cpuSim,
	gpuFFTplan,
	gpuFFT,
	gpuDeviceInfo,
	gpuReset,
	gpuSimVerify,
	covExponential,
	covGaussian,
	covSpherical,
	covMatern3,
	covMatern5,
	dCov2d,
	dCov3d,
	gpuCov2,
	vgmModel,
	vgmNugget,
	vgmSill,
	vgmRange,
	vgmAnis,
	gpuBenchmark,
	gpuSSD,
	cpuSSDMatrix)